# Dependencies
node_modules/

# npm
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Build
dist/
build/
out/

# Vite
.vite/

# Coverage
coverage/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# Temporary files
*.tmp
*.temp
.cache/